body {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.symbol {
  width: 600px;
  height: 400px;
  position: relative;
  border: 1px solid grey;
}
#mainSymbol {
  position: absolute;
  top: 100px;
}
.sun {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  background-color: red;
  position: absolute;
  top: 280px;
  left: 330px;
  z-index: 3;
}
#mainRays {
  left: 340px;
}
.rays {
  position: absolute;
  top: 400px;
  z-index: 1;
}
.ray_16 {
  position: absolute;
  width: 396px;
  height: 14px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 230, 0) 41%,
    rgb(255, 0, 0) 100%
  );
  top: -50px;
}
.ray_16::before {
  content: "";
  width: 396px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 10px;
  transform: rotate(1deg);
}

.ray_15 {
  position: absolute;
  width: 246px;
  height: 14px;
  background-image: linear-gradient(90deg, rgb(255, 230, 0) 81%, #ff9100 100%);
  top: -61px;
  transform: rotate(-9deg);
}
.ray_15::before {
  content: "";
  width: 396px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 12px;
  transform: rotate(2deg);
}
.ray_14 {
  position: absolute;
  width: 396px;
  height: 14px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 230, 0) 41%,
    rgb(255, 0, 0) 100%
  );
  top: -95px;
  left: -5px;
  transform: rotate(-18deg);
}
.ray_14::before {
  content: "";
  width: 396px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 10px;
  transform: rotate(1deg);
}
.ray_13 {
  position: absolute;
  width: 246px;
  height: 14px;
  background-image: linear-gradient(90deg, rgb(255, 230, 0) 81%, #ff9100 100%);
  top: -83px;
  left: -4px;
  transform: rotate(-27deg);
}
.ray_13::before {
  content: "";
  width: 396px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 12px;
  transform: rotate(2deg);
}
.ray_12 {
  position: absolute;
  width: 396px;
  height: 14px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 230, 0) 41%,
    rgb(255, 0, 0) 100%
  );
  top: -137px;
  left: -23px;
  transform: rotate(-36deg);
}
.ray_12::before {
  content: "";
  width: 396px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 10px;
  transform: rotate(1deg);
}
.ray_11 {
  position: absolute;
  width: 246px;
  height: 14px;
  background-image: linear-gradient(90deg, rgb(255, 230, 0) 81%, #ff9100 100%);
  top: -101px;
  left: -17px;
  transform: rotate(-45deg);
}
.ray_11::before {
  content: "";
  width: 396px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 12px;
  transform: rotate(2deg);
}
.ray_10 {
  position: absolute;
  width: 396px;
  height: 14px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 230, 0) 41%,
    rgb(255, 0, 0) 100%
  );
  top: -170px;
  left: -55px;
  transform: rotate(-54deg);
}
.ray_10::before {
  content: "";
  width: 396px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 10px;
  transform: rotate(1deg);
}
.ray_9 {
  position: absolute;
  width: 246px;
  height: 14px;
  background-image: linear-gradient(90deg, rgb(255, 230, 0) 81%, #ff9100 100%);
  top: -116px;
  left: -34px;
  transform: rotate(-63deg);
}
.ray_9::before {
  content: "";
  width: 396px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 12px;
  transform: rotate(2deg);
}
.ray_8 {
  position: absolute;
  width: 396px;
  height: 14px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 230, 0) 41%,
    rgb(255, 0, 0) 100%
  );
  top: -190px;
  left: -96px;
  transform: rotate(-72deg);
}
.ray_8::before {
  content: "";
  width: 396px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 10px;
  transform: rotate(1deg);
}
.ray_7 {
  position: absolute;
  width: 246px;
  height: 14px;
  background-image: linear-gradient(90deg, rgb(255, 230, 0) 81%, #ff9100 100%);
  top: -122px;
  left: -54px;
  transform: rotate(-81deg);
}
.ray_7::before {
  content: "";
  width: 396px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 12px;
  transform: rotate(2deg);
}
.ray_6 {
  position: absolute;
  width: 396px;
  height: 14px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 230, 0) 41%,
    rgb(255, 0, 0) 100%
  );
  top: -198px;
  left: -138px;
  transform: rotate(-90deg);
}
.ray_6::before {
  content: "";
  width: 396px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 10px;
  transform: rotate(1deg);
}
.mountain {
  position: absolute;
  top: 396px;
  left: 70px;
  z-index: 5;
}
.flat_12 {
  width: 0;
  height: 0;
  border-left: 90px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 50px solid #924a21;
}
.flat_11 {
  width: 100px;
  border-top: 5px solid #311a14;
  background-color: #924a21;
  transform: rotate(-35deg);
  position: absolute;
  left: -8px;
  top: 20px;
}
.flat_10 {
  width: 403px;
  border-top: 5px solid #311a14;
  background-color: #924a21;

  position: absolute;
  left: 0px;
  top: 50px;
}
.flat_9 {
  width: 50px;
  height: 25px;
  border: 5px solid #311a14;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 69px;
  top: -40px;
  transform: rotate(160deg);
}
.flat_8 {
  width: 55px;
  height: 10px;
  border: 5px solid #311a14;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 109px;
  top: -43px;
  transform: rotate(-45deg);
  background-color: #f3ee85;
}
.flat_7 {
  width: 40px;
  border-top: 5px solid #311a14;
  background-color: #924a21;
  transform: rotate(-45deg);
  position: absolute;
  left: 150px;
  top: -70px;
}

.flat_6 {
  width: 10px;
  height: 20px;
  position: absolute;
  border: 5px solid #311a14;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  left: 183px;
  top: -90px;
  transform: rotate(-45deg);
  background-color: #f3ee85;
}
.flat_5 {
  width: 40px;
  border-top: 5px solid #311a14;
  background-color: #924a21;
  position: absolute;
  left: 197px;
  top: -60px;
  transform: rotate(45deg);
}
.flat_4 {
  width: 50px;
  height: 25px;
  border: 5px solid #311a14;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 222px;
  top: -65px;
  transform: rotate(-160deg);
}
.flat_3 {
  width: 60px;
  height: 25px;
  border: 5px solid #311a14;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 272px;
  top: -30px;
  transform: rotate(-140deg);
}
.flat_2 {
  width: 2px;
  height: 20px;
  position: absolute;
  border: 5px solid #311a14;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  left: 269px;
  top: -38px;
  background-color: #f3ee85;
  transform: rotate(-45deg);
}
.flat_1 {
  width: 5px;
  height: 30px;
  position: absolute;
  border: 5px solid #311a14;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  left: 320px;
  top: -1px;
  background-color: #f3ee85;
  transform: rotate(120deg);
}
.flat_0 {
  width: 25px;
  height: 13px;
  border: 5px solid #311a14;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 336px;
  top: 6px;
}
.flat_0_1 {
  width: 50px;
  height: 25px;
  border: 5px solid #311a14;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 367px;
  top: 13px;
  transform: rotate(45deg);
}
.flat_0_2 {
  width: 13px;
  height: 6px;
  border: 5px solid #311a14;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 356px;
  top: 20px;
}

.base_1 {
  width: 60px;
  height: 60px;
  background-color: #f3ee85;
  position: absolute;
  transform: rotate(45deg);
  top: -73px;
  left: 160px;
}
.base_2 {
  width: 180px;
  height: 40px;
  background-color: #f3ee85;
  position: absolute;
  top: -13px;
  left: 110px;
}
.base_3 {
  width: 0;
  height: 0;
  border: 20px solid #f3ee85;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -13px;
  left: 285px;
}
.base_4 {
  width: 110px;
  height: 40px;
  background-color: #f3ee85;
  position: absolute;
  top: -43px;
  left: 130px;
  border-radius: 20%;
}
.base_5 {
  width: 40px;
  height: 20px;
  background-color: #f3ee85;
  position: absolute;
  top: -29px;
  left: 230px;
  border-radius: 20%;
}
.base_6 {
  width: 0;
  height: 0;
  border: 5px solid #f3ee85;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -37px;
  left: 240px;
  transform: rotate(-20deg);
}
.base_7 {
  width: 0px;
  height: 0;
  border: 20px solid #924a21;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -42px;
  left: 110px;
  transform: rotate(10deg);
}
.base_8 {
  width: 40px;
  height: 10px;
  background-color: #924a21;
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 136px;
  transform: rotate(-45deg);
}
.base_9 {
  width: 40px;
  height: 10px;
  background-color: #924a21;
  border-radius: 50%;
  position: absolute;
  top: -38px;
  left: 143px;
  transform: rotate(-75deg);
}
.base_10 {
  width: 40px;
  height: 10px;
  background-color: #924a21;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 155px;
  transform: rotate(-43deg);
}
.base_11 {
  width: 50px;
  height: 10px;
  border: 5px solid #924a21;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 166px;
  transform: rotate(80deg);
}
.base_12 {
  width: 0px;
  height: 0;
  border: 13px solid #924a21;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -18px;
  left: 186px;
  transform: rotate(-58deg);
}
.base_13 {
  width: 0px;
  height: 0;
  border: 13px solid #924a21;

  position: absolute;
  top: -5px;
  left: 208px;
  transform: rotate(-58deg);
}
.base_14 {
  width: 40px;
  height: 10px;
  background-color: #924a21;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 225px;
  transform: rotate(43deg);
}
.base_15 {
  width: 60px;
  height: 10px;
  border: 5px solid #924a21;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 210px;
  transform: rotate(-120deg);
}
.base_16 {
  width: 60px;
  height: 10px;
  border: 5px solid #924a21;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 234px;
  transform: rotate(40deg);
}
.base_17 {
  width: 40px;
  height: 10px;
  border: 5px solid #924a21;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 250px;
  transform: rotate(-120deg);
}
.base_18 {
  width: 77px;
  height: 10px;
  border: 5px solid #924a21;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 264px;
  transform: rotate(20deg);
}
.base_19 {
  width: 308px;
  height: 28px;
  background-color: #924a21;
  position: absolute;
  top: 23px;
  left: 70px;
}
.base_20 {
  width: 80px;
  height: 28px;
  background-color: #924a21;
  position: absolute;
  top: -13px;
  left: 108px;
}
.base_21 {
  width: 120px;
  height: 18px;
  background-color: #924a21;
  position: absolute;
  top: 12px;
  left: 108px;
}
.base_22 {
  width: 30px;
  height: 20px;
  background-color: #924a21;
  position: absolute;
  top: 12px;
  left: 225px;
  transform: rotate(45deg);
}
.base_24 {
  width: 30px;
  height: 20px;
  background-color: #924a21;
  position: absolute;
  top: -32px;
  left: 132px;
}
.base_25 {
  width: 20px;
  height: 10px;
  background-color: #924a21;
  position: absolute;
  top: 30px;
  left: 328px;
  transform: rotate(-55deg);
}
.base_26 {
  width: 20px;
  height: 10px;
  background-color: #924a21;
  position: absolute;
  top: 24px;
  left: 320px;
  transform: rotate(15deg);
}
.base_27 {
  width: 0px;
  height: 0;
  border: 13px solid #924a21;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: 28px;
  left: 376px;
}
.base_28 {
  width: 0px;
  height: 0;
  border: 16px solid #924a21;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -4px;
  left: 284px;
  transform: rotate(-24deg);
}
.base_29 {
  width: 0px;
  height: 0;
  border: 12px solid #924a21;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: 4px;
  left: 258px;
  transform: rotate(-10deg);
}
.base_30 {
  width: 0px;
  height: 0;
  border: 10px solid #924a21;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -5px;
  left: 185px;
  transform: rotate(20deg);
}
.base_31 {
  width: 0px;
  height: 0;
  border: 13px solid #924a21;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -35px;
  left: 160px;
}
.base_32 {
  width: 0px;
  height: 0;
  border: 18px solid #924a21;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -26px;
  left: 80px;
  transform: rotate(30deg);
}
.base_33 {
  width: 70px;
  height: 20px;
  background-color: #924a21;
  position: absolute;
  top: 10px;
  left: 30px;
  transform: rotate(-33deg);
}
.base_34 {
  width: 10px;
  height: 10px;
  background-color: #f3ee85;
  position: absolute;
  left: 268px;
  top: -20px;
}
.base_35 {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 50px solid #311a14;
  position: absolute;
}
.base_35::before {
  content: "";
  width: 40px;
  height: 10px;
  background-color: #924a21;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: -26px;
  transform: rotate(-35deg);
}
.base_35::after {
  content: "";
  width: 40px;
  height: 10px;
  background-color: #924a21;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -5px;
  transform: rotate(-35deg);
}
.base_36 {
  width: 50px;
  height: 10px;
  background-color: #924a21;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: 108px;
  transform: rotate(-55deg);
}
.base_37 {
  content: "";
  width: 50px;
  height: 20px;
  background-color: #924a21;
  border-radius: 40%;
  position: absolute;
  top: 2px;
  left: 130px;
  transform: rotate(-55deg);
}
.base_38 {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #924a21;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: 156px;
}
.base_39 {
  content: "";
  width: 50px;
  height: 20px;
  background-color: #924a21;
  border-radius: 40%;
  position: absolute;
  top: 12px;
  left: 180px;
  transform: rotate(10deg);
}
.base_40 {
  content: "";
  width: 50px;
  height: 10px;
  background-color: #924a21;
  border-radius: 40%;
  position: absolute;
  top: 32px;
  left: 190px;
  transform: rotate(30deg);
}
.base_41 {
  width: 0;
  height: 0;
  border-left: -20px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 26px solid #311a14;
  position: absolute;
  left: 270px;
  top: 25px;
}
.base_42 {
  width: 50px;
  height: 10px;
  background-color: #924a21;
  border-radius: 40%;
  position: absolute;
  top: 32px;
  left: 230px;
  transform: rotate(30deg);
}
.base_43 {
  width: 21px;
  height: 21px;
  background-color: #924a21;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  left: 258px;
}
.base_44 {
  width: 100px;
  height: 10px;
  background-color: #311a14;
  border-radius: 40%;
  position: absolute;
  top: 35px;
  left: 275px;
  transform: rotate(15deg);
}
.base_45 {
  width: 28px;
  height: 10px;
  background-color: #311a14;
  border-radius: 50%;
  position: absolute;
  top: 34px;
  left: 262px;
  transform: rotate(-75deg);
}
.base_46 {
  width: 28px;
  height: 5px;
  background-color: #311a14;
  border-radius: 50%;
  position: absolute;
  top: 34px;
  left: 254px;
  transform: rotate(20deg);
}
.base_47 {
  width: 28px;
  height: 8px;
  background-color: #311a14;
  border-radius: 50%;
  position: absolute;
  top: 28px;
  left: 260px;
  transform: rotate(-18deg);
}
.base_48 {
  width: 18px;
  height: 3px;
  background-color: #311a14;
  border-radius: 50%;
  position: absolute;
  top: 28px;
  left: 245px;
  transform: rotate(40deg);
}
